# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
build/
*.tsbuildinfo

# Entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / SO
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Testing
coverage/
playwright-report/
test-results/

# Cache
.cache/
.vite/
